<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MyPaws | {{page.title}}</title>

  <link rel="stylesheet" href="/public/main-styles.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<body>
  <header>
    <div onclick="window.location.href = '/'" class="logo">
    <h1>
      MyPaws
    </h1>
     
        <i class="material-icons">pets</i>
    </div>
      <small> 
        We help reunite lost pets with their families</small>
       

    <div class="header-right">
      <a href="/pets/report">Report</a>


      {{#if cookie}}

      <i onclick="window.location.href= '/post'" class="material-icons">create</i>
      {{/if}}

      <div class="profile">
        {{#if cookie}}
        <i onclick="window.location.href = '/auth/profile'" class="material-icons">person</i>
        {{else}}
        <a href="/home">Home</a>

        {{#ifEquals page.title 'Login'}}
        <i onclick="window.location.href = '/auth/register'" class="material-icons">person_add</i>
        {{else}}
        <i onclick="window.location.href = '/auth/login'" class="material-icons">login</i>
        {{/ifEquals}}
        {{/if}}
      </div>
    </div>

  </header>
  <main>
    {{{body}}}
  </main>

  <footer>
    <ul>
      {{#if cookie}}
      <li><a href="/auth/logout">Logout</a></li>
      {{else}}
       
        
    
      <li><label>
        1 IN 3 PETS GO MISSING IN THEIR LIFETIME. BE PREPARED IN CASE IT HAPPENS TO YOU
      </label><a href="/auth/register">Register</a>
      <label>
        OR
      </label
        >
      
      </label><a href="/auth/login">Login</a>
      </li>
      </button>
      
       
       
      

      {{/if}}

    </ul>
    <ul>
      <li><a href="/pets/report">Report a missing or found pet</a></li>
      <li><a href="/pet-stores">Nearby Pet Stores</a></li>
      <li><a href="/dog-walker">Dog Walker</a></li>

    </ul>
    
  </footer>

  <script src="https://code.jquery.com/jquery-3.6.2.slim.min.js"
    integrity="sha256-E3P3OaTZH+HlEM7f1gdAT3lHAn4nWBZXuYe89DFg2d0=" crossorigin="anonymous"></script>
  <script src="/public/js/main.js"></script>

</html>
