{{#if cookie}}
  <form action="/dog-walker/post" method="post" enctype="multipart/form-data">

    {{#if error}}
      <div class="error">{{error}}</div>
    {{/if}}

    {{!-- {{#with data}} --}}
      <input required type="file" name="images" accept="image/*" value="test" />
      <label>from Monday to Friday(WeekDays)</label>
      <input required type="time" name="walkWeekStart" value={{{data.walkWeekStart}}} />
      <input required type="time" name="walkWeekEnd" value={{{data.walkWeekEnd}}} />
      <label>from Saturady to Sunday(Weekend)</label>
      <input required type="time" name="walkWeekendStart" value={{{data.walkWeekendStart}}} />
      <input required type="time" name="walkWeekendEnd" value={{{data.walkWeekendEnd}}} />
      <input
        required
        type="number"
        name="expMonth"
        min="0"
        placeholder="Experience's Month"
        value={{{data.expMonth}}}
      />
      <input required type="number" name="phoneNum" placeholder="Phone Number" value={{{data.phoneNum}}} />
    {{!-- {{/width}} --}}
    <button type="submit">Post</button>

  </form>
{{else}}
  <p>You need to login to post content</p>
{{/if}}