<h1>Profile</h1>

<div class="userdetails">
  <form>

    <label>
      Image
      <div class="profile-image-container">
        <img readonly src={{{data.image}}} />

      </div>
    </label>

    <label>
      First Name
      <input readonly value={{{data.firstName}}} />
    </label>

    <label>
      Last Name
      <input readonly value={{{data.lastName}}} />
    </label>
    <label>
      Age
      <input readonly value={{{data.age}}} />
    </label>
    <label>
      Pet Name
      <input readonly value={{{data.petName}}} />
    </label>
    <label>
      Pet Breed
      <input readonly value={{{data.petBreed}}} />
    </label>
    <label>
      Email
      <input readonly value={{{data.email}}} />
    </label>
    <label>
      ID
      <input readonly value={{{data._id}}} />
    </label>

  </form>

</div>