<form method="post" id="registerForm" action="/auth/register" enctype="multipart/form-data">
  {{#if error}}
  <div class="error">{{error}}</div>
  {{/if}}
  <h2>Register Now</h2>
  <label>
    Profile Picture
    <input id="profileImageInput" type="file" name="profileImage" accept="image/*" />
  </label>

  <div class="profile-image-container">
    <img id="outputProfileImage" src="/assets/img.jpeg" alt="Image Preview" />
  </div>
  <label>
    First Name
    <input type="text" id="registerFN" name="firstName" value="{{firstName}}" />
  </label>
  <label>
    Last Name
    <input type="text" id="registerLN" name="lastName" value="{{lastName}}" />
  </label>
  <label>Age
    <input type="number" id="registerAge" name="age" value="{{age}}" />
  </label>
  <label>City
    <input type="text" id="registerCity" name="city" value="{{city}}" />
  </label>
  <label>State
    <input type="text" id="registerState" name="state" value="{{state}}" />
  </label>
  <label>
    Email
    <input type="email" id="registerEmail" name="email" value="{{email}}" />
  </label>
  <label>
    Pet Name
    <input
      type="text"
      id="registerPetName"
      name="petName"
      value="{{petName}}"
    />
  </label>
  <label>
    Pet Breed
    <input
      type="text"
      id="registerPetBreed"
      name="petBreed"
      value="{{petBreed}}"
    />
  </label>

  <label>
    Password
    <input type="password" id="registerPassword" name="password" />
  </label>
  <label>
    Retype Password
    <input type="password" id="registerCPassword" name="cpassword" />
  </label>
  <button type="submit">Sign Up</button>
</form>

<script src="/public/js/register.js"></script>