<form
  method="post"
  id="registerForm"
  action="/register"
  enctype="multipart/form-data"
>
  {{#if error}}
    <div class="error">{{error}}</div>
  {{/if}}
  <h2>Register Now</h2>
  <label>
    Profile Picture
    <input id="profileImageInput" type="file" name="profileImage" />
  </label>
  <img id="outputProfileImage" />
  <label>
    First Name
    <input type="text" name="firstName" value="{{firstName}}" />
  </label>
  <label>
    Last Name
    <input type="text" name="lastName" value="{{lastName}}" />
  </label>
  <label>Age
    <input type="number" name="age" value="{{age}}" />
  </label>
  <label>City
    <input type="text" name="city" value="{{city}}" />
  </label>
  <label>State
    <input type="text" name="state" value="{{state}}" />
  </label>
  <label>
    Email
    <input type="email" name="email" value="{{email}}" />
  </label>
  <label>
    Pet Name
    <input type="text" name="petName" value="{{petName}}" />
  </label>
  <label>
    Pet Breed
    <input type="text" name="petBreed" value="{{petBreed}}" />
  </label>

  <label>
    Password
    <input type="password" name="password" />
  </label>
  <label>
    Retype Password
    <input type="password" name="cpassword" />
  </label>
  <button type="submit">Sign Up</button>
</form>

<script src="/public/js/register.js"></script>